<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">MILANE <span>TATTOO</span></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Navigation umschalten">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">

          <!-- Startseite -->
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>

          <!-- Über uns -->
          <li class="nav-item">
            <a class="nav-link" href="ueber-uns.html">Über uns</a>
          </li>

          <!-- Galerie 
          <li class="nav-item">
            <a class="nav-link" href="galerie.html">Galerie</a>
          </li>-->

          <!-- Preise -->
          <li class="nav-item">
            <a class="nav-link" href="preise.html">Preise</a>
          </li>

          <!-- Pflege / Nachsorge -->
          <li class="nav-item">
            <a class="nav-link" href="pflege.html">Pflege</a>
          </li>

          <!-- Kontakt -->
          <li class="nav-item">
            <a class="nav-link" href="kontakt.html">Kontakt</a>
          </li>

          <!-- Rechtliches: Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="rechtlichesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Rechtliches
            </a>
            <ul class="dropdown-menu" aria-labelledby="rechtlichesDropdown">
              <li><a class="dropdown-item" href="impressum.html">Impressum</a></li>
              <li><a class="dropdown-item" href="agb.html">agb's</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

